@model WalkingDinnerWebApplication.ViewModels.EventPlanIndexViewModel

    @{
        ViewBag.Title = "Home pagina";
    }

    <div class="jumbotron" style="background-image: url('../Images/JumboBG.jpg'); background-position: center center; background-repeat: no-repeat; background-size: cover; margin-top: 50px;">
        <h1 style="color: white">Walking Dinner</h1>
        <p class="lead" style="color: white">Interessante tekst over wat een Walking Dinner inhoudt, en dat je er zéker een keer aan deel moet nemen.</p>
        <p><a class="btn btn-success" href="@Url.Action("Create", "EventPlan")">Creeër een event &raquo;</a></p>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-condensed table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EventPlans.First().Naam)
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.EventPlans.First().VerzamelDatum)*@
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.EventPlans.First().VerzamelAdres)*@
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.EventPlans)
                {
                    <tr onclick="window.location='@Url.Action("Details", "EventPlan", new { id = item.Id })'" style="cursor: pointer;">
                        <td>
                            @Html.DisplayFor(modelItem => item.Naam)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.VerzamelDatum)*@
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.VerzamelAdres)*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>